@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(59.2% 0.249 0.584);

  @media (prefers-color-scheme: dark) {
    --primary: oklch(71.8% 0.202 349.761);
    --background: #0a0a0a;
    --foreground: #efefef;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    ui-monospace, Menlo, Consolas, Monaco, 'Adwaita Mono', 'Liberation Mono',
    'Lucida Console', monospace;
}
